<h2 class="page-header">Dashbord</h2>
<p>Welcome to your dashbord <b>{{user.username}}</b></p>
<div style="margin-top: 50px">
    <a href="/tickets"><button type="button" class="btn btn-primary btn-lg" >New ticket</button></a>
    <a href="/tickets/showTickets"><button type="button" class="btn btn-secondary btn-lg">Previous ticket</button></a>
</div>