<h1>{{Ticket.issue}}</h1>
<button type="button" class="btn btn-primary">Print</button>
<button type="button" class="btn btn-warning">Change status to in progress</button>
<button type="button" class="btn btn-success">Change status to complete</button>